html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 0.9em;
  background-color: #e8e8e9;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.container h1 {
    font-weight: 300;
    margin-bottom: 2rem;
    line-height: 1.8rem;
}

.container button {
  font-weight: 400;
  background-color: #8cacea;
  border: 0;
  padding: 1rem 3rem;
  font-size: 1.6em;
  color: rgba(0,0,0,0.8)
}

@media screen and (max-width: 769px) {
  /*reduce font size*/

  body {
    font-size: 0.7em;
  }

  h1 em {
    font-size: 0.8em;
  }
}
